@charset "utf-8";
/* CSS Document */
body{
	background-color: black; 
}
h1{
	font-family: georgia;
	font-size: 5em;
	color: #EDA140 ; 
}
p{
	font-size: .85em;
	font-family: verdana; 
	color: #D56A39;
}
.october-vibes{
	font-size: 10px;
	font-family: times new roman;
	color: #FF9D22; 
}
h2{
	font-family: times new roman; 
	margin: 60px 15px 0;
	padding: 20;
	font-weight: 100;
	color: #86414B; 
}
figure{
	width: 373px;
	height: 275px; 
	margin:0;
	padding: 0;
	background: black;
	overflow: hidden;
}
/*Zoom in #1*/
.hover1 figure img{
	transform: scale(1);
	transition: .8s ease-in-out;
}
.hover1 figure:hover img{
	transform: scale(1.3);
}
/*Zoom In 2*/
.hover2 figure img{
	width: 300px;
	height:auto;
	transition: .5s ease-in-out;
}
.hover2 figure:hover img{
	width: 350px;
}

/*Zoom Out #1*/
.hover3 figure img{
	transform: scale(2);
	transition: .6s ease-in-out;
}
.hover3 figure:hover img {
	transform: scale(1);
}

/*Zoom Out #2*/
.hover4 figure img{
	width: 400px;
	height: auto;
	transition: .3s ease-in-out;
}
.hover4 figure:hover img{
	width: 300px;
}
/*Slide*/
.hover5 figure img{
	margin-left: 300px;
	transform: scale(2);
	transition: .5s ease-in-out;
}
.hover5 figure:hover img{
	margin-left: 0;
}
/*Rotate*/
.hover6 figure img{
	transform: rotate(15deg) scale(1.4);
	transition: .3s ease-in-out;
}
.hover6 figure:hover img{
	transform: rotate(180deg) scale(1);
}
.ending-mark{
	font-size: 2em;
	font-family: Baskerville;
	color: #D99369; 
}